.button {
    color: #FFFFFF;
    background-color: #877EED;
    padding: 12px 16px;
    border: none;
    border-radius: 24px;
    margin: auto;
    cursor: pointer;
    font-size: 16px;
    line-height: 150%;
    font-weight: 500;
}

.button:hover {
    background-color: #544ACB;
}
